.catalog {
    display: grid;
    padding: 20px 0px;
    gap: 20px;

    background-color: var(--background-white);

    &__title {
        line-height: 48px;
    }
    &__filters {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
