.form {
    width: 545px;
    height: auto;

    padding: 20px 32px;
    border-radius: 24px;

    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;

    font-family: var(--font-inter);
    color: var(--base-black);
    background-color: var(--background-white);

    &__title {
        font-size: 36px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: -0.04em;
    }
    &__input {
        width: 100%;
        height: 48px;
        padding: 20px 24px;
        border-radius: 8px;
        background-color: var(--background-root);
        border: 1px solid var(--color-gray);

        font-size: 20px;
        font-weight: 300;
        line-height: 14px;
        letter-spacing: -0.02em;
    }
    &__buttons {
        width: 100%;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, calc(50% - 5px));
    }

    &__button-notpass {
        
    }
    &__button {
        height: 48px;
        border-radius: 8px;
        &:first-child {
            color: var(--background-white);
            background-color: var(--base-black);
        }
        &:last-child {
            border: 1px solid var(--color-gray);
        }

        font-size: 16px;
        font-weight: 400;
    }
}
