.header {
    &__nav {
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    &__link {
        display: flex;
        gap: 8px;
        align-items: center;
    }
    &__links {
        display: flex;
        justify-content: space-between;
        gap: 92px;
        align-items: center;
    }
    &__links-auth {
        height: 20px;
        gap: 36px;
    }
}
.link {
    font-family: var(--font-inter);
    color: var(--base-black);
    text-decoration: none;
}
