.footer {
    padding: 50px 0;
    background-color: var(--background-white);

    &__subtitle {
        margin-left: -6px;
    }
    &__content {
        margin-top: 30px;
        width: 50%;
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 26px;
    }
}
